<a href="{% url 'upload_media:list_article' %}">
    <button>List Article</button>
</a>

<a href="{% url 'upload_media:post_article' %}">
    <button>Post Article</button>
</a>
<br>
<a href="{% url 'upload_media:list_videos' %}">
    <button>List Video</button>
</a>

<a href="{% url 'upload_media:post_videos' %}">
    <button>Post Video</button>
</a>
<br>

<a href="{% url 'upload_media:list_musics' %}">
    <button>List Music</button>
</a>

<a href="{% url 'upload_media:post_musics' %}">
    <button>Post Music</button>
</a>
<br>